
.item-one {
    display: inline-block;

}


 .custom-image-about {
     width: 100%;
     height: 100%; 
     box-shadow: 0px 0px 10px 0px #000
    
 }


.section_our_major {
    text-align: center;
    padding-top: 70px;
    
}