.footer {
    // height: 50px;
    margin-top: 155px;
    h6 {
        text-align: center;
        color: #999;
        font-weight: bolder;
    }
}

.custom-hr {
    box-shadow:2px -5px 20px 6px #DDD;
    margin-bottom: 100px;
}