/*
    
*/
.logo-login {
    display: block;
    margin: 0 auto;
    width: 500px;
    margin-top: 100px;

}

// style={{width: '500px', display: 'block', margin:'auto', pading: '40px', marginTop: '40px'}}

.login-forms {
    width: 400px;
    display: block;
    margin: auto;
    padding: 40px;
    margin-top: 40px;

}

.span-login-page {
    display: block;
    margin-left: 45%;
    padding-top: 10px;

}