/*
 Start Code in 11 / 10 / 2019 
  By Yazan Al Monshed
  Email : yazanmonshed@gmail.com
*/

// style={{marginBottom : '300px', textAlign: 'left', fontSize: '2rem', fontWeight: 'bold'}}

.custom-image {height: 700px;width: 100%}

.custom-caption {
    
    margin-bottom:200px;
    text-align: right;
    font-weight: bolder;
    font-size: 1.1rem;
    opacity: .9;
    direction: rtl
}
